<div class="security">
  @if (user(); as userValue) {
    @if (userValue.anonymous) {
      <h1>Welcome in Spring-Angular-Keycloak tutorial</h1>

      <div class="divider"></div>
      <button
        class="custom-button"
        data-testid="btn-sign-in"
        (click)="signIn()"
      >
        Sign In
      </button>
    } @else {
      <div class="flex items-center">
        <app-user-backend/>

        <button
          class="custom-button"
          (click)="signOut()"
          data-testid="btn-sign-out"
        >
          Sign Out
        </button>
      </div>
    }
  }
</div>
