<div class="security">
  @if (user()?.anonymous) {
    <app-landing-page/>
  } @else {
    <div class="flex items-center">
      <div class="flex items-center">
        @if (showKeycloakUser) {
          <app-user-keycloak/>
        } @else {
          <app-user-backend/>
        }

        <div class="btn-container">
          <button
            class="custom-button"
            (click)="toggleUserView()"
            data-testid="btn-toggle-view"
          >
            Toggle View
          </button>

          <button
            class="custom-button"
            (click)="signOut()"
            data-testid="btn-sign-out"
          >
            Sign Out
          </button>
        </div>

      </div>
    </div>
  }
</div>


