<h1>Welcome {{ userDto()?.firstName }}, {{ userDto()?.lastName }}</h1>

<h3>Your Profile</h3>
<div class="profile-container">
  <span>E-Mail: {{ userDto()?.email }}</span>
  @if (userDto()?.roles) {
    <div>
      <!--<span>Roles:</span>
      @for (role of userDto()?.roles; track role) {
        <span>{{ role }}</span>
      }-->
    </div>
  }
</div>


<h4>Your live in</h4>
<div class="address-container">
  <span>Street: {{ userDto()?.addressDTO?.street }} {{ userDto()?.addressDTO?.houseNumber }}</span>
  <span>Postal code: {{ userDto()?.addressDTO?.postalCode }}</span>
  <span>City: {{ userDto()?.addressDTO?.city }}</span>
  <span>County: {{ userDto()?.addressDTO?.country }}</span>
</div>
